Repository MlkMahmud/binance-dca-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc --noEmit, prettier --write

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "tsc --noEmit"
  ],
  "**/*.{md,yml,json,prettierrc}": [
    "prettier --write"
  ]
}

implement tests for api endpoints
  __mocks__/database.ts
  __tests__/server/app.spec.ts
  package-lock.json
  package.json
  server/controller.ts
  server/routes.ts
Due: eslint --fix, tsc --noEmit, prettier --write

fix(JobForm): disable symbol dropdown in edit mode
  __tests__/components/JobForm.spec.tsx
  components/JobForm.tsx
Due: eslint --fix, tsc --noEmit

standardize api response
  __mocks__/server.ts
  __tests__/components/JobForm.spec.tsx
  __tests__/components/Jobs.spec.tsx
  __tests__/components/LoginForm.spec.tsx
  __tests__/components/OrderHistory.spec.tsx
  __tests__/components/PasswordSetttings.spec.tsx
  __tests__/components/Portfolio.spec.tsx
  __tests__/components/Settings.spec.tsx
  __tests__/server/app.spec.ts
  client-utils.ts
  components/JobForm.tsx
  components/Jobs/JobList.tsx
  components/Jobs/index.tsx
  components/Portfolio/index.tsx
  components/Settings.tsx
  jest.config.ts
  server/controller.ts
  server/routes.ts
Due: eslint --fix, tsc --noEmit

stop calling setState on unmounted component
  __tests__/components/JobForm.spec.tsx
  __tests__/components/Settings.spec.tsx
  components/JobForm.tsx
  components/Settings.tsx
Due: eslint --fix, tsc --noEmit

implement tests for slack error case
  __tests__/server/slack.spec.ts
Due: eslint --fix, tsc --noEmit

test: account for error cases in telegram lib
  __tests__/server/slack.spec.ts
  __tests__/server/telegram.spec.ts
  server/lib/notifications/slack.ts
Due: eslint --fix, tsc --noEmit

add github ci workflow
  .github/workflows/ci.yml
Due: prettier --write

test(JobForm): remove hardcoded date
  __tests__/components/JobForm.spec.tsx
  __tests__/components/OrderHistory.spec.tsx
  package-lock.json
Due: eslint --fix, tsc --noEmit, prettier --write

inline source maps
  next.config.js
  tsconfig.server.json
Due: eslint --fix, tsc --noEmit, prettier --write

chore: include release value for sentry sdk
  server/lib/sentry.ts
Due: eslint --fix, tsc --noEmit

ci: bump package version after test
  .github/workflows/ci.yml
  tsconfig.server.json
Due: prettier --write

CI: bumps version to 1.0.1 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

ci: add source maps upload step
  .babelrc
  .github/workflows/ci.yml
  package-lock.json
  package.json
  scripts/postbuild.js
Due: eslint --fix, tsc --noEmit, prettier --write

fix typo in workflow file
  .github/workflows/ci.yml
Due: prettier --write

add missing 'runs-on' value in workflow file
  .github/workflows/ci.yml
Due: prettier --write

CI: bumps version to 1.0.2 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

add postbuild script
  .github/workflows/ci.yml
  package.json
Due: prettier --write

CI: bumps version to 1.0.3 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

add server build script
  package.json
Due: prettier --write

CI: bumps version to 1.0.4 [skip ci]
  package-lock.json
  package.json
Due: prettier --write

use single relaease for sentry
  .github/workflows/ci.yml
  scripts/postbuild.js
  server/lib/sentry.ts
Due: eslint --fix, tsc --noEmit, prettier --write

CI: delete old source maps before uploading new
  package.json
  scripts/postbuild.js
  server/lib/sentry.ts
Due: eslint --fix, tsc --noEmit, prettier --write

chore: use env var to version sentry releases
  .github/workflows/ci.yml
  scripts/postbuild.js
  server/lib/sentry.ts
Due: eslint --fix, tsc --noEmit, prettier --write

replace babel with tsc for server build
  .babelrc
  package.json
  tsconfig.server.json
Due: prettier --write

ci: add workflows to bump git tag and deploy
  .github/workflows/bump-version.yml
  .github/workflows/deploy.yml
  .github/workflows/test.yml
Due: prettier --write

fix yml syntax errors in workflow files
  .github/workflows/bump-version.yml
  .github/workflows/prod-deploy.yml
Due: prettier --write

change default_bump arg to patch
  .github/workflows/bump-version.yml
Due: prettier --write

feat(User): validate timezone on insert
  server/app.ts
  server/index.ts
  server/models/User.ts
Due: eslint --fix, tsc --noEmit

fix zIndex on floating button
  components/Jobs/JobList.tsx
Due: eslint --fix, tsc --noEmit

feat(binance): use env var to determine httpBase
  server/lib/binance.ts
Due: eslint --fix, tsc --noEmit

update readme
  .env.example
  README.md
  public/logo.svg
Due: prettier --write

rename PROJECT_VERSION env var to SENTRY_RELEASE
  .github/workflows/prod-deploy.yml
  scripts/postbuild.js
  server/lib/sentry.ts
Due: eslint --fix, tsc --noEmit, prettier --write

update prod-deploy to deploy bot to remote server
  .github/workflows/prod-deploy.yml
Due: prettier --write

fix: node-version arg in test workflow
  .github/workflows/test.yml
Due: prettier --write

update lock file
  package-lock.json
  package.json
Due: prettier --write

feat(Overlay): center modal
  components/Overlay.tsx
  jest.config.ts
  package-lock.json
  package.json
  pages/_app.tsx
  pages/_document.tsx
Due: eslint --fix, tsc --noEmit, prettier --write

docs: add deployment, features and todo sections
  README.md
  public/create-job.gif
  public/delete-job.gif
  public/disable-password.gif
  public/edit-job.gif
  public/enable-password.gif
  public/job-history.gif
  public/notifications.gif
  public/pause-job.gif
  public/portfolio.gif
  public/update-password.gif
Due: prettier --write

docs: fix readme formatting
  README.md
Due: prettier --write

fix: return only non-zero balances
  server/controller.ts
Due: eslint --fix, tsc --noEmit

chore: correct license field and add author info
  package.json
Due: prettier --write
