Repository MlkMahmud/binance-dca-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc --noEmit, prettier --write

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "tsc --noEmit"
  ],
  "**/*.{md,yml,json,prettierrc}": [
    "prettier --write"
  ]
}

add Heroku deployment workflow
  .github/workflows/deploy.yml
  .github/workflows/prod-deploy.yml
  .gitignore
Due: prettier --write

upload sentry sourcemaps in deploy workflow
  .github/workflows/deploy.yml
  package.json
Due: prettier --write

chore: run npm audit fix
  package-lock.json
  package.json
Due: prettier --write

fix: correct typo in workflow file
  .github/workflows/deploy.yml
Due: prettier --write

fix: correct env syntax for heroku action
  .github/workflows/deploy.yml
  scripts/postbuild.js
Due: eslint --fix, tsc --noEmit, prettier --write

add correct value for SENTRY_PROJECT var
  .github/workflows/deploy.yml
Due: prettier --write

fix typo in workflow file
  .github/workflows/deploy.yml
Due: prettier --write

center icon in create job button
  components/Jobs/JobList.tsx
Due: eslint --fix, tsc --noEmit

enable helmet in production env
  server/app.ts
Due: eslint --fix, tsc --noEmit

fix pause/unpause logic for jobs
  README.md
  components/Jobs/JobList.tsx
  server/controller.ts
  server/lib/agenda/jobs/buy-crypto.ts
  server/utils.ts
  types.ts
Due: eslint --fix, tsc --noEmit, prettier --write

docs: fix markdown formatting
  README.md
Due: prettier --write

add bot keyword to telegram url
  __tests__/server/telegram.spec.ts
  server/lib/notifications/telegram.ts
Due: eslint --fix, tsc --noEmit

doc: remove reference to deleted files [skip ci]
  README.md
Due: prettier --write
