Repository MlkMahmud/binance-dca-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc --noEmit, prettier --write

fix(JobForm): correct symbol popover title
  components/JobForm.jsx
Due: eslint --fix, tsc --noEmit

fix(Select): add empty state menu list
  components/Select.jsx
Due: eslint --fix, tsc --noEmit

style: remove white space from timezone data
  data/timezones.json
Due: prettier --write

fix npm vulnerabilities
  package-lock.json
  package.json
  server/lib/sentry.js
Due: eslint --fix, tsc --noEmit, prettier --write

feat: add sentry lib
  server/app.js
  server/index.js
  server/lib/sentry.js
Due: eslint --fix, tsc --noEmit

feat: add bunyan logger
  package-lock.json
  package.json
  server/index.js
  server/lib/logger.js
Due: eslint --fix, tsc --noEmit, prettier --write

feat: add binance lib
  nodemon.json
  package-lock.json
  package.json
  server/app.js
  server/controller.js
  server/controllers/baseController.js
  server/index.js
  server/lib/binance.js
  server/routes.js
  server/routes/baseRouter.js
Due: eslint --fix, tsc --noEmit, prettier --write

feat: add base logic for telegram lib
  .eslintrc.js
  package-lock.json
  package.json
  server/app.js
  server/index.js
  server/lib/sentry.js
  server/lib/telegram.js
Due: eslint --fix, tsc --noEmit, prettier --write

feat: add User model
  server/index.js
  server/models.js
Due: eslint --fix, tsc --noEmit

feat(lib): add slack and telegram notifications
  server/error.js
  server/lib/notifications/index.js
  server/lib/notifications/slack.js
  server/lib/notifications/telegram.js
  server/lib/telegram.js
  server/models.js
Due: eslint --fix, tsc --noEmit

chore: update baseError definition
  server/error.js
  server/lib/notifications/slack.js
  server/lib/notifications/telegram.js
Due: eslint --fix, tsc --noEmit

feat: add endpoint to set password
  package-lock.json
  package.json
  server/controller.js
  server/routes.js
Due: eslint --fix, tsc --noEmit, prettier --write

fix: add salt arg to hashSync function
  server/controller.js
Due: eslint --fix, tsc --noEmit

feat: add update password endpoint
  server/controller.js
  server/routes.js
Due: eslint --fix, tsc --noEmit

feat: add login page
  components/Header.jsx
  components/LoginForm.jsx
  components/Logo.jsx
  package-lock.json
  package.json
  pages/login.jsx
Due: eslint --fix, tsc --noEmit, prettier --write

replace formik with react-final-form
  components/LoginForm.jsx
  package-lock.json
  package.json
Due: eslint --fix, tsc --noEmit, prettier --write

add login controller and endpoint
  package-lock.json
  package.json
  server/app.js
  server/controller.js
  server/routes.js
Due: eslint --fix, tsc --noEmit, prettier --write

feat(LoginForm): add onSubmit function
  components/LoginForm.jsx
Due: eslint --fix, tsc --noEmit

feat: add request authentication middleware
  components/LoginForm.jsx
  pages/index.jsx
  pages/login.jsx
  server/app.js
  server/middleware.js
  server/models.js
  server/routes.js
Due: eslint --fix, tsc --noEmit

feat: add sentry handler for nextjs
  next.config.js
  package-lock.json
  package.json
  pages/404.jsx
  pages/_app.jsx
  pages/_error.jsx
  server/controller.js
Due: eslint --fix, tsc --noEmit, prettier --write

feat(Portfolio): fetch real portfolio balance
  components/JobForm.jsx
  components/LoginForm.jsx
  components/Portfolio/DefaultState.jsx
  components/Portfolio/index.jsx
  server/index.js
Due: eslint --fix, tsc --noEmit

feat(Settings): add update settings functionality
  components/Header.jsx
  components/Page.jsx
  components/PasswordSettings.jsx
  components/Settings.jsx
  package.json
  pages/index.jsx
  server/controller.js
  server/middleware.js
  server/routes.js
  server/utils.js
Due: eslint --fix, tsc --noEmit, prettier --write

draft: add EnablePasswordForm component
  components/Overlay.jsx
  components/Page.jsx
  components/PasswordSettings.jsx
  components/PasswordSettings/EnablePasswordForm.jsx
  components/PasswordSettings/index.jsx
Due: eslint --fix, tsc --noEmit

create reusable PasswordInput component
  components/LoginForm.jsx
  components/PasswordInput.jsx
Due: eslint --fix, tsc --noEmit

feat(PasswordSettings): add enable password form
  components/PasswordSettings/EnablePasswordForm.jsx
  components/PasswordSettings/index.jsx
Due: eslint --fix, tsc --noEmit

feat(PasswordSettings): add disable password form
  components/Page.jsx
  components/PasswordSettings/DisablePasswordForm.jsx
  components/PasswordSettings/index.jsx
Due: eslint --fix, tsc --noEmit

feat(PasswordSettings): add password update form
  components/PasswordSettings/DisablePasswordForm.jsx
  components/PasswordSettings/UpdatePasswordForm.jsx
  components/PasswordSettings/index.jsx
  server/controller.js
  server/routes.js
  utils.js
Due: eslint --fix, tsc --noEmit

Update README.md
  README.md
Due: prettier --write

feat(Settings): add onSubmit feedback toast
  components/Settings.jsx
Due: eslint --fix, tsc --noEmit

make header sticky
  components/Header.jsx
Due: eslint --fix, tsc --noEmit

feat: add loading fallback for dynamic imports
  components/Jobs/JobList.jsx
  components/Jobs/index.jsx
  components/Loading.jsx
  components/Page.jsx
  components/PasswordSettings/index.jsx
Due: eslint --fix, tsc --noEmit

feat(Select): add getvalue and getlabel props
  components/Select.jsx
Due: eslint --fix, tsc --noEmit

feat: add fetchTimezones endpoint
  server/controller.js
  server/routes.js
  server/timezones.json
Due: eslint --fix, tsc --noEmit, prettier --write

feat: add create JobForm
  components/JobForm.jsx
  components/Jobs/JobList.jsx
  components/Jobs/index.jsx
  components/Overlay.jsx
  components/Page.jsx
  components/PasswordSettings/index.jsx
  components/Select.jsx
  components/Settings.jsx
  package-lock.json
  package.json
  pages/index.jsx
Due: eslint --fix, tsc --noEmit, prettier --write

feat: debounce react-select loadOptions function
  components/JobForm.jsx
  components/Settings.jsx
  package-lock.json
  package.json
  utils.js
Due: eslint --fix, tsc --noEmit, prettier --write

use single loop in fetchTimezones function
  server/controller.js
Due: eslint --fix, tsc --noEmit

feat(PasswordSettings): sync actions according to state
  components/Page.jsx
  components/PasswordSettings/index.jsx
Due: eslint --fix, tsc --noEmit

fix(LoginForm): use standalone toast
  components/LoginForm.jsx
Due: eslint --fix, tsc --noEmit

feat: set up agenda db connection
  server/controller.js
  server/index.js
  server/lib/agenda.js
  server/routes.js
Due: eslint --fix, tsc --noEmit

fix: use cron-parser lib to validate schedule
  components/JobForm.jsx
Due: eslint --fix, tsc --noEmit

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
  tsc --noEmit: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: any of: **/*.{md,yml,json,prettierrc}
