Repository MlkMahmud/binance-dca-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc --noEmit, prettier --write

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "tsc --noEmit"
  ],
  "**/*.{md,yml,json,prettierrc}": [
    "prettier --write"
  ]
}

chore: install core deps
  package-lock.json
  package.json
Due: prettier --write

chore: set up husky
  .husky/.gitignore
  .husky/pre-commit
  package-lock.json
  package.json
Due: prettier --write

chore: initialize ts config
  tsconfig.json
Due: prettier --write

convert lint-staged config to js
  .lintstagedrc
  lint-staged.config.js
Due: eslint --fix, tsc --noEmit

set up express server
  .eslintrc.json
  lint-staged.config.js
  next-env.d.ts
  package-lock.json
  package.json
  pages/index.tsx
  server/app.ts
  server/index.ts
  tsconfig.json
Due: eslint --fix, tsc --noEmit, prettier --write

fix: emit ts build to dist directory
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

convert eslint config to js
  .eslintrc.js
  .eslintrc.json
  pages/index.tsx
  tsconfig.json
Due: eslint --fix, tsc --noEmit, prettier --write

add ant design
  package-lock.json
  package.json
  pages/_app.tsx
  pages/index.tsx
Due: eslint --fix, tsc --noEmit, prettier --write

use nodemon in dev mode
  next-env.d.ts
  nodemon.json
  package-lock.json
  package.json
  server/app.ts
Due: eslint --fix, tsc --noEmit, prettier --write

switch codebase to plain js 🙄
  .babelrc
  .eslintignore
  .eslintrc.js
  .nvmrc
  lint-staged.config.js
  next-env.d.ts
  nodemon.json
  package-lock.json
  package.json
  pages/_app.jsx
  pages/_app.tsx
  pages/index.jsx
  server/app.js
  server/index.js
  server/index.ts
  tsconfig.json
Due: eslint --fix, tsc --noEmit, prettier --write

use dotenv to load env vars in dev mode
  lint-staged.config.js
  nodemon.json
  package-lock.json
  package.json
Due: eslint --fix, tsc --noEmit, prettier --write

add header and footer components
  components/Footer.jsx
  components/Header.jsx
  components/Page.jsx
  pages/_app.jsx
  pages/index.jsx
Due: eslint --fix, tsc --noEmit

feat(Portfolio): add default UI state
  components/Footer.jsx
  components/Header.jsx
  components/Page.jsx
  components/Portfolio/index.jsx
  pages/index.jsx
Due: eslint --fix, tsc --noEmit

feat(Portfolio): add loading UI
  components/Footer.jsx
  components/Header.jsx
  components/Page.jsx
  components/Portfolio/Loading.jsx
  components/Portfolio/index.jsx
  package.json
  pages/_app.jsx
  pages/index.jsx
Due: eslint --fix, tsc --noEmit, prettier --write

add custom font
  pages/_app.jsx
  theme.js
Due: eslint --fix, tsc --noEmit

feat(Portfolio): add Error state UI
  components/Footer.jsx
  components/Portfolio/Error.jsx
  components/Portfolio/index.jsx
  package-lock.json
  package.json
  theme.js
Due: eslint --fix, tsc --noEmit, prettier --write

make footer icons more kawaii
  components/Footer.jsx
  components/Page.jsx
Due: eslint --fix, tsc --noEmit

chore: use react-select for dropdowns
  components/Footer.jsx
  components/Header.jsx
  components/Page.jsx
  components/Portfolio/index.jsx
  package-lock.json
  package.json
Due: eslint --fix, tsc --noEmit, prettier --write

add useMediaQuery hook
  utils/index.js
Due: eslint --fix, tsc --noEmit

feat: add Settings component
  components/Footer.jsx
  components/Settings.jsx
Due: eslint --fix, tsc --noEmit

remove proptypes in production
  .babelrc
Due: none

lazy load Portfolio components
  components/Portfolio/Portfolio.jsx
  components/Portfolio/index.jsx
Due: eslint --fix, tsc --noEmit

use react-final-form for Settings form
  components/Page.jsx
  components/Settings.jsx
  package-lock.json
  package.json
  utils/index.js
Due: eslint --fix, tsc --noEmit, prettier --write

feat(Settings): disable submit button when form is pristine
  components/Page.jsx
  components/Settings.jsx
Due: eslint --fix, tsc --noEmit

chore(Portfolio): replace react-select with chakra select
  components/Portfolio/Portfolio.jsx
Due: eslint --fix, tsc --noEmit

feat(Settings): prevent modal from closing while it's loading
  components/Settings.jsx
Due: eslint --fix, tsc --noEmit

implement virtualized select component
  components/Select.jsx
  components/Settings.jsx
  package-lock.json
  package.json
Due: eslint --fix, tsc --noEmit, prettier --write

fix(Settings): correct zIndex on timezone select menu
  components/Select.jsx
  components/Settings.jsx
  data/timezones.json
  server/index.js
Due: eslint --fix, tsc --noEmit, prettier --write

feat(JobList): add loading state UI
  components/JobList/Loading.jsx
  components/JobList/index.jsx
  components/Page.jsx
  components/Portfolio/Error.jsx
  components/Portfolio/Loading.jsx
  components/Portfolio/Portfolio.jsx
  pages/index.jsx
Due: eslint --fix, tsc --noEmit

feat(JobList): add empty state UI
  components/JobList/EmptyState.jsx
  components/JobList/LoadingState.jsx
  components/JobList/index.jsx
  components/Portfolio/DefaultState.jsx
  components/Portfolio/ErrorState.jsx
  components/Portfolio/LoadingState.jsx
  components/Portfolio/index.jsx
  public/empty.png
Due: eslint --fix, tsc --noEmit

feat(Jobs): add default jobs UI
  components/JobList/index.jsx
  components/Jobs/EmptyState.jsx
  components/Jobs/Job.jsx
  components/Jobs/JobList.jsx
  components/Jobs/LoadingState.jsx
  components/Jobs/index.jsx
  components/Overlay.jsx
  components/Portfolio/DefaultState.jsx
  components/Portfolio/ErrorState.jsx
  components/Portfolio/LoadingState.jsx
  components/Settings.jsx
  pages/index.jsx
Due: eslint --fix, tsc --noEmit

feat: add create job modal trigger
  components/Jobs/JobList.jsx
Due: eslint --fix, tsc --noEmit

feat(Jobs): add error state UI
  components/Jobs/ErrorState.jsx
  public/error.png
Due: eslint --fix, tsc --noEmit

fix: add alt attr to img tags
  components/Jobs/EmptyState.jsx
  components/Jobs/ErrorState.jsx
Due: eslint --fix, tsc --noEmit

add favicon
  pages/_app.jsx
  public/favicon.ico
Due: eslint --fix, tsc --noEmit

move form Popover to its own file
  components/Popover.jsx
  components/Settings.jsx
Due: eslint --fix, tsc --noEmit

feat(Overlay): add formId prop
  components/Overlay.jsx
  components/Settings.jsx
Due: eslint --fix, tsc --noEmit

feat(Select): add async functionality
  components/Select.jsx
Due: eslint --fix, tsc --noEmit

add JobForm component
  components/JobForm.jsx
  components/Jobs/Job.jsx
  components/Jobs/JobList.jsx
Due: eslint --fix, tsc --noEmit

add fetch symbols endpoint
  package-lock.json
  package.json
  server/app.js
  server/controllers/baseController.js
  server/routes/baseRouter.js
Due: eslint --fix, tsc --noEmit, prettier --write
