Repository MlkMahmud/binance-dca-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc --noEmit, prettier --write

change yup tz validator to standalone function
  server/utils.js
Due: eslint --fix, tsc --noEmit

chore: move agenda jobs definition to separate file
  server/lib/agenda/index.js
  server/lib/agenda/jobs/buy-crypto.js
Due: eslint --fix, tsc --noEmit

feat: add ability to create new cron job.
  components/JobForm.jsx
  package-lock.json
  package.json
  server/controller.js
  server/lib/agenda.js
  server/lib/agenda/jobs/buy-crypto.js
  server/routes.js
  server/utils.js
Due: eslint --fix, tsc --noEmit, prettier --write

feat: add order model
  server/controller.js
  server/index.js
  server/lib/agenda/jobs/buy-crypto.js
  server/lib/notifications/slack.js
  server/lib/notifications/telegram.js
  server/middleware.js
  server/models/Order.js
  server/models/User.js
  server/models/index.js
Due: eslint --fix, tsc --noEmit

feat: send notification after job runs
  package-lock.json
  package.json
  server/controller.js
  server/lib/agenda/jobs/buy-crypto.js
  server/lib/notifications/slack.js
  server/lib/notifications/telegram.js
  server/timezones.json
  server/utils.js
Due: eslint --fix, tsc --noEmit, prettier --write

await agenda.start command
  server/index.js
Due: eslint --fix, tsc --noEmit

add .env.example file
  .env.example
Due: none

feat: add edit and get job endpoints
  package-lock.json
  server/controller.js
  server/lib/agenda/jobs/buy-crypto.js
  server/models/Order.js
  server/routes.js
  server/utils.js
Due: eslint --fix, tsc --noEmit, prettier --write

fix: reject job update request if job is running
  server/controller.js
  server/routes.js
Due: eslint --fix, tsc --noEmit

feat: add delete job functionality
  server/controller.js
  server/routes.js
Due: eslint --fix, tsc --noEmit

fix(JobForm): disable schedule field in edit mode
  components/JobForm.jsx
  components/Jobs/index.jsx
Due: eslint --fix, tsc --noEmit

check if job is running before deleting or editing
  server/controller.js
Due: eslint --fix, tsc --noEmit

chore: position toast at top-right
  utils.js
Due: eslint --fix, tsc --noEmit

feat: add ability to pause/resume jobs
  server/controller.js
  server/utils.js
Due: eslint --fix, tsc --noEmit

use PATCH HTTP method for job update endpoint
  server/routes.js
Due: eslint --fix, tsc --noEmit

fix css margin issue on loading overlay
  components/Jobs/JobList.jsx
  components/Loading.jsx
Due: eslint --fix, tsc --noEmit

fix(PasswordSettings): add form validation
  components/PasswordSettings/DisablePasswordForm.jsx
  components/PasswordSettings/EnablePasswordForm.jsx
  components/PasswordSettings/UpdatePasswordForm.jsx
Due: eslint --fix, tsc --noEmit

fix: use HTTP PATCH method for patch operations
  components/PasswordSettings/DisablePasswordForm.jsx
  components/PasswordSettings/EnablePasswordForm.jsx
  components/PasswordSettings/UpdatePasswordForm.jsx
  components/Settings.jsx
  server/routes.js
Due: eslint --fix, tsc --noEmit

feat: update jobs if useDefaultTimezone is true
  components/Settings.jsx
  package-lock.json
  package.json
  server/controller.js
  server/utils.js
Due: eslint --fix, tsc --noEmit, prettier --write

fix: use transactions to ensure db atomicity
  server/controller.js
Due: eslint --fix, tsc --noEmit

fix: convert job list to table
  components/Header.jsx
  components/Jobs/Job.jsx
  components/Jobs/JobList.jsx
  components/Jobs/index.jsx
  components/TableCell.jsx
Due: eslint --fix, tsc --noEmit

feat: return only relevant fields in fetchJobs function
  server/controller.js
Due: eslint --fix, tsc --noEmit

fix zIndex styling
  components/Header.jsx
  components/Loading.jsx
Due: eslint --fix, tsc --noEmit

feat(Job): add human interval property
  server/controller.js
Due: eslint --fix, tsc --noEmit

feat: add job list component for desktop
  components/JobForm.jsx
  components/Jobs/EmptyState.jsx
  components/Jobs/ErrorState.jsx
  components/Jobs/Job.jsx
  components/Jobs/JobList.jsx
  components/Jobs/index.jsx
  components/TableCell.jsx
Due: eslint --fix, tsc --noEmit

feat: ability to edit a job through the job form
  components/JobForm.jsx
Due: eslint --fix, tsc --noEmit

feat: add ability to delete a job through the app
  components/Jobs/Job.jsx
  components/Jobs/JobList.jsx
  components/Jobs/index.jsx
  components/Settings.jsx
Due: eslint --fix, tsc --noEmit

feat: add ability to pause and unpause jobs
  components/JobForm.jsx
  components/Jobs/Job.jsx
  components/Jobs/JobList.jsx
  components/Jobs/index.jsx
Due: eslint --fix, tsc --noEmit

draft: working on prompt component
  components/Prompt.jsx
Due: eslint --fix, tsc --noEmit

feat: show prompt before destructive action
  components/Jobs/Job.jsx
  components/Jobs/JobList.jsx
  components/Jobs/index.jsx
  components/Prompt.jsx
Due: eslint --fix, tsc --noEmit

chore: rename isDisabled prop to borderLeftColor
  components/Jobs/Job.jsx
  components/TableCell.jsx
Due: eslint --fix, tsc --noEmit

fix(Header): adjust icon spacing
  components/Header.jsx
Due: eslint --fix, tsc --noEmit

fix(Prompt): close only on confirmation success
  components/Prompt.jsx
Due: eslint --fix, tsc --noEmit

feat: add mobile jobList view
  components/JobForm.jsx
  components/Jobs/Job.jsx
  components/Jobs/JobList.jsx
  server/controller.js
  server/utils.js
Due: eslint --fix, tsc --noEmit

draft: convert code to typescript
  .eslintrc.js
  .eslintrc.json
  package-lock.json
  package.json
Due: eslint --fix, tsc --noEmit, prettier --write

chore: convert server files to ts
  .babelrc
  .eslintrc.json
  components/Jobs/JobList.jsx
  lint-staged.config.js
  next-env.d.ts
  nodemon.json
  package-lock.json
  package.json
  server/app.ts
  server/controller.ts
  server/error.ts
  server/index.ts
  server/lib/agenda/index.ts
  server/lib/agenda/jobs/buy-crypto.ts
  server/lib/binance.ts
  server/lib/logger.ts
  server/lib/notifications/index.ts
  server/lib/notifications/slack.ts
  server/lib/notifications/telegram.ts
  server/lib/sentry.ts
  server/middleware.ts
  server/models/Order.ts
  server/models/User.ts
  server/models/index.ts
  server/routes.ts
  server/utils.ts
  tsconfig.json
  tsconfig.server.json
  types.ts
Due: eslint --fix, tsc --noEmit, prettier --write

chore: convert components to ts
  components/Footer.tsx
  components/Header.tsx
  components/Jobs/JobList.jsx
  components/Loading.tsx
  components/LoginForm.tsx
  components/Logo.tsx
  components/Overlay.tsx
  components/Page.tsx
  components/PasswordInput.tsx
  components/Popover.tsx
  components/Prompt.jsx
  components/Prompt.tsx
  components/TableCell.tsx
  package-lock.json
  package.json
Due: eslint --fix, tsc --noEmit, prettier --write

chore: migrate components to typescript
  components/JobForm.tsx
  components/Overlay.tsx
  components/Select.jsx
  package-lock.json
  package.json
  tsconfig.json
  types.ts
Due: eslint --fix, tsc --noEmit, prettier --write

chore: convert components to typescript
  components/Page.tsx
  components/Select.tsx
  components/Settings.tsx
  index.d.ts
  types.ts
Due: eslint --fix, tsc --noEmit

chore: set --isolatedModules flag to true
  package-lock.json
  package.json
  tsconfig.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{ts,tsx,js,jsx}
  tsc --noEmit: any of: **/*.{ts,tsx,js,jsx}
  prettier --write: any of: **/*.{md,yml,json,prettierrc}
