Repository MlkMahmud/binance-dca-bot: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, tsc --noEmit, prettier --write

.lintstagedrc:

{
  "**/*.{ts,tsx,js,jsx}": [
    "eslint --fix",
    "tsc --noEmit"
  ],
  "**/*.{md,yml,json,prettierrc}": [
    "prettier --write"
  ]
}

chore: update server build to use typescript
  .gitignore
  package.json
  server/controller.ts
  server/lib/agenda/index.ts
  server/lib/notifications/index.ts
  server/lib/notifications/slack.ts
  server/lib/notifications/telegram.ts
  server/utils.ts
  theme.ts
  tsconfig.server.json
  types.ts
Due: eslint --fix, tsc --noEmit, prettier --write

chore: convert components to typescript
  client-utils.ts
  components/JobForm.tsx
  components/LoginForm.tsx
  components/Overlay.tsx
  components/PasswordSettings/DisablePasswordForm.jsx
  components/PasswordSettings/EnablePasswordForm.jsx
  components/PasswordSettings/UpdatePasswordForm.jsx
  components/Portfolio/PortfolioDefaultState.tsx
  components/Portfolio/PortfolioErrorState.tsx
  components/Portfolio/PortfolioLoadingState.tsx
  components/Portfolio/index.tsx
  components/Settings.tsx
  package-lock.json
  package.json
Due: eslint --fix, tsc --noEmit, prettier --write

chore: convert PasswordSettings components to TS
  components/PasswordInput.tsx
  components/PasswordSettings/DisablePasswordForm.tsx
  components/PasswordSettings/EnablePasswordForm.tsx
  components/PasswordSettings/UpdatePasswordForm.tsx
  components/PasswordSettings/index.tsx
Due: eslint --fix, tsc --noEmit

chore: convert Jobs components to TS
  components/JobForm.tsx
  components/Jobs/Job.tsx
  components/Jobs/JobList.tsx
  components/Jobs/JobListEmptyState.tsx
  components/Jobs/JobListErrorState.tsx
  components/Jobs/JobListLoadingState.tsx
  components/Jobs/index.tsx
  components/PasswordSettings/index.tsx
  next.config.js
  tsconfig.server.json
  types.ts
Due: eslint --fix, tsc --noEmit, prettier --write

chore: convert nextjs pages to TS
  pages/404.tsx
  pages/_app.tsx
  pages/_error.tsx
  pages/index.tsx
  pages/login.tsx
Due: eslint --fix, tsc --noEmit

chore: delete eslint comments
  components/Jobs/index.tsx
  components/Portfolio/index.tsx
Due: eslint --fix, tsc --noEmit

feat: add trigger button for order history
  components/Jobs/Job.tsx
  components/Jobs/JobList.tsx
  components/OrderHistory/index.tsx
Due: eslint --fix, tsc --noEmit

update OrderHistory component
  components/OrderHistory/LoadingState.tsx
  components/OrderHistory/Order.tsx
  components/OrderHistory/index.tsx
Due: eslint --fix, tsc --noEmit

fix lint-staged config
  lint-staged.config.js
Due: eslint --fix, tsc --noEmit

feat(OrderHistory): add Error and Empty state ui
  components/OrderHistory/EmptyState.tsx
  components/OrderHistory/ErrorState.tsx
  components/OrderHistory/LoadingState.tsx
  components/OrderHistory/Order.tsx
  components/OrderHistory/index.tsx
Due: eslint --fix, tsc --noEmit

feat: add endpoint to fetch all orders for a job
  server/controller.ts
  server/routes.ts
Due: eslint --fix, tsc --noEmit

display fills in order history
  components/OrderHistory/Order.tsx
  types.ts
Due: eslint --fix, tsc --noEmit

add ability to update partially filled orders
  components/Jobs/Job.tsx
  components/OrderHistory/Order.tsx
  components/OrderHistory/index.tsx
  package-lock.json
  package.json
  server/controller.ts
  server/routes.ts
  server/utils.ts
Due: eslint --fix, tsc --noEmit, prettier --write

fix typo
  components/Jobs/JobList.tsx
Due: eslint --fix, tsc --noEmit

fix: update ui when default timezone changes
  @types/index.d.ts
  components/JobForm.tsx
  components/Jobs/JobList.tsx
  components/Jobs/index.tsx
  components/Select.tsx
  lint-staged.config.js
Due: eslint --fix, tsc --noEmit

chore: delete useCallback statements
  components/JobForm.tsx
  components/Settings.tsx
  lint-staged.config.js
  types/index.d.ts
Due: eslint --fix, tsc --noEmit

feat: add fallback ui for failed dynamic imports
  .gitignore
  components/ErrorBoundary.tsx
  components/Jobs/index.tsx
  components/Loading.tsx
  components/Page.tsx
  components/PasswordSettings/index.tsx
  components/Portfolio/index.tsx
  components/Select.tsx
  lint-staged.config.js
  types/index.d.ts
Due: eslint --fix, tsc --noEmit

chore: update lint-staged ts config
  components/Header.tsx
  lint-staged.config.js
  tsconfig.server.json
Due: eslint --fix, tsc --noEmit, prettier --write

setup jest
  components/Settings/index.spec.tsx
  components/Settings/index.tsx
  jest.config.ts
  jest.setup.ts
  package-lock.json
  package.json
  test-utils.tsx
  tsconfig.json
  tsconfig.test.json
Due: eslint --fix, tsc --noEmit, prettier --write

chore: add custom prettier configuration file
  .prettierrc
Due: prettier --write

test: setup mock server
  components/Select.tsx
  components/Settings/index.spec.tsx
  components/Settings/index.tsx
  jest.config.ts
  jest.setup.ts
  mocks/server.ts
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --fix, tsc --noEmit, prettier --write

test: implement tests for Settings component
  __mocks__/server.ts
  __tests__/Settings.spec.tsx
  components/Settings.tsx
  components/Settings/index.spec.tsx
  jest.config.ts
  jest.setup.ts
  mocks/server.ts
Due: eslint --fix, tsc --noEmit

test: implement tests for LoginForm component
  __mocks__/server.ts
  __tests__/LoginForm.spec.tsx
  __tests__/Settings.spec.tsx
  components/LoginForm.tsx
  components/Settings.tsx
  pages/login.tsx
Due: eslint --fix, tsc --noEmit

test: implement tests for JobForm component
  __mocks__/server.ts
  __tests__/JobForm.spec.tsx
  __tests__/LoginForm.spec.tsx
  __tests__/Settings.spec.tsx
  components/JobForm.tsx
Due: eslint --fix, tsc --noEmit

test: implement tests for OrderHistory component
  __mocks__/server.ts
  __tests__/OrderHistory.spec.tsx
  components/OrderHistory/Order.tsx
Due: eslint --fix, tsc --noEmit

test: implement tests for Jobs component
  .babelrc
  __mocks__/server.ts
  __tests__/JobForm.spec.tsx
  __tests__/Jobs.spec.tsx
  __tests__/Settings.spec.tsx
  components/JobForm.tsx
  components/Jobs/JobList.tsx
  components/Jobs/index.tsx
  components/Settings.tsx
  jest.setup.ts
  package-lock.json
  package.json
Due: eslint --fix, tsc --noEmit, prettier --write

fix(Porftolio): render a 0 USDT fallback balance
  components/Portfolio/PortfolioDefaultState.tsx
  components/Portfolio/index.tsx
Due: eslint --fix, tsc --noEmit

test: implement tests for Portfolio component
  __mocks__/server.ts
  __tests__/Portfolio.spec.tsx
Due: eslint --fix, tsc --noEmit

test: implement tests for PasswordSettings component
  __mocks__/server.ts
  __tests__/PasswordSetttings.spec.tsx
  components/PasswordSettings/DisablePasswordForm.tsx
  components/PasswordSettings/EnablePasswordForm.tsx
  components/PasswordSettings/UpdatePasswordForm.tsx
Due: eslint --fix, tsc --noEmit

test: implement tests for EnablePassword component
  __mocks__/server.ts
  __tests__/EnablePasswordForm.spec.tsx
Due: eslint --fix, tsc --noEmit

implement tests for DisablePassword component
  __tests__/DisablePasswordForm.spec.tsx
Due: eslint --fix, tsc --noEmit

test: implement tests for UpdatePassword component
  __tests__/UpdatePasswordForm.spec.tsx
Due: eslint --fix, tsc --noEmit

feat: add logout functionality
  components/Header.tsx
  components/Page.tsx
  pages/index.tsx
  server/routes.ts
Due: eslint --fix, tsc --noEmit

chore: fix typos
  server/index.ts
  server/lib/agenda/index.ts
  server/lib/binance.ts
Due: eslint --fix, tsc --noEmit

chore: move component tests to separate directory
  __tests__/components/DisablePasswordForm.spec.tsx
  __tests__/components/EnablePasswordForm.spec.tsx
  __tests__/components/JobForm.spec.tsx
  __tests__/components/Jobs.spec.tsx
  __tests__/components/LoginForm.spec.tsx
  __tests__/components/OrderHistory.spec.tsx
  __tests__/components/PasswordSetttings.spec.tsx
  __tests__/components/Portfolio.spec.tsx
  __tests__/components/Settings.spec.tsx
  __tests__/components/UpdatePasswordForm.spec.tsx
Due: eslint --fix, tsc --noEmit

fix: disable logging in test env
  server/lib/logger.ts
Due: eslint --fix, tsc --noEmit

test: implement tests for telegram notifications
  __mocks__/data.ts
  __mocks__/database.ts
  __tests__/server/telegram.spec.ts
  jest.config.ts
  package-lock.json
  package.json
Due: eslint --fix, tsc --noEmit, prettier --write

test: implement tests for slack notifications
  __tests__/server/slack.spec.ts
Due: eslint --fix, tsc --noEmit

test(unit): add 'dotenv/config' to setupFiles
  jest.config.ts
Due: eslint --fix, tsc --noEmit

implement tests for api endpoints
  __mocks__/database.ts
  __tests__/server/app.spec.ts
  package-lock.json
  package.json
  server/controller.ts
  server/routes.ts
Due: eslint --fix, tsc --noEmit, prettier --write
